h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 700;
}

p {
    font-family: 'Poiret One', sans-serif;
}

.fa-location-arrow {
    font-size: 10rem;
    color: crimson;
}

.max-margin {
    max-width: 1200px;
    margin: 0 auto;
}

.head {
    background-color: aquamarine;
}

.main {
    background-color: antiquewhite;
}

.container {
    background-color: teal;
}

.map iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}