body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

.container {
    position: relative;
    max-width: 900px;
    margin: -5px auto;
    background-color: #d4e9e7;
}

/* adding text overlay image */
h1 {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

/* styling image width */
img {
    width: 100%;
}

/* styling the navigation */
nav ul {
    list-style: none;
    margin: 0px;
    /* navigation text align center */
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 32%;
    border-right: 1px solid black;
    box-sizing: border-box;
}

/* using pseudo classes */
nav ul a,
nav ul a:link,
nav ul a:visited {
    color: #000;
}

nav ul .current,
nav ul a:hover,
nav ul a:focus {
    color: #363636;
}

nav ul a:active {
    color: #fff;
}

/* position selector */
/* last child */
nav ul li:nth-child(3) {
    border-right: none;
}

nav ul a {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    margin: 10px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

section {
    font-size: 0.9rem;
}

/* text wrapping */
section img {
    width: 21%;
    float: left;
    margin: 0 15px 15px 0;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 20px 0 10px 0;
}

/* styling the unordered list */
.factlist ul {
    margin: 5px 0 20px -20px;

}

/* styling the form */
form {
    display: block;
    border: 1px solid #000;
    margin: 1px;
    padding: 22px 10px 10px 10px;
    font-size: 14px;
}

/* styling input and textarea */
.form-width input,
textarea {
    width: 98%;
    margin: 4px 0;
    padding: 5px;
}

/* styling textarea */
textarea {
    height: 50px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    font-weight: 500;
    margin: 2px;
}

/* styling radio buttons */
.visitus input,
label {
    margin: 15px 2px;
}

button {
    border: 1px solid #000;
    background-color: transparent;
    font-size: 8px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    width: 40px;
    height: 30px;
    padding: 6px 5px;
}

/* styling the footer */
footer {
    text-align: right;
    margin: 30px 20px 0 0;
    height: 40px;
    font-size: 12px;
}